<% title "Sector Empresarial" %>

<p>
  <strong>Nombre:</strong>
  <%=h @empresarial_sector.name %>
</p>

<p>
  <%= link_to "Editar", edit_empresarial_sector_path(@empresarial_sector) %> |
   <%= link_to "Ver Todos", empresarial_sectors_path %>
</p>
