<% title "Agregar Lección Aprendida" %>
Si ya tiene cuenta con nosotros <%=link_to "ingrese aca", new_user_session_path%></a> de lo contrario puede <%=link_to "solicitarla aca", new_user_registration_path%>.

<h2>Envie su Lección Aprendida sin registrarse</h2>
<%= render :partial => 'form' %>

 
