 <h1>Agregar Lecci칩n Aprendida</h1>

<p>
Si ya tiene cuenta con nosotros?
<span class="rounded4"><%=link_to "Ingrese aca", new_user_session_path%></span> 
</p>
<p>
Si no tiene <span class="rounded4"><%=link_to "Solicite Una Cuenta", new_user_registration_path%></span> para poder enviar una lecci칩n m치s detallada.
</p>
<hr/>
<h2 >Envie su Lecci칩n Aprendida sin registrarse</h2>
<%= render :partial => 'form' %>

 
