<% title "Ver Mensaje" %>

<p>
  <strong>Nombre:</strong>
  <%=h @message.name %>
</p>
<p>
  <strong>País:</strong>
  <%=h @message.country %>
</p>
<p>
  <strong>Correo Electrónico:</strong>
  <%=h @message.email %>
</p>
<p>
  <strong>Contenido de la Lección Aprendida:</strong>
  <%=h simple_format @message.content %>
</p>

 
