body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
	background-image: url(/images/pagebg.jpg);
}

a img {
  border: none;
}

a {
  color: #3366FF;
text-decoration: none;
}

a:hover{
	text-decoration:underline;
}

#admin_menu{
	font-size: 10px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 900px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  overflow: auto;
}

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.odd{
	background-color:#EFEFEF;
}

label{
	display:block;
}

table td{
	padding: 15px;
}

table th{
	background-color: #E5F2FF;
	padding: 15px;
}

.button{
	padding:5px;
	background-color:#3366FF;
	width:150px;
	color:#FFF;
	text-align:center;
	margin-bottom:15px;
	
}

.button a{
	color:#FFF;
	
}


.ifi-box{
	width:600px;
 
	padding:5px;
	margin-bottom:20px;
	border-top: 1px dotted #9b9b9b;
}


.enlace-boton{
	background-color: #65b6fe;
	padding: 9px;
	width: 200px;
	text-align: center;
	margin: 0px 95px 20px 5px;
 -moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline;

 
 }
 
 .enlace-boton a{
	color: #FFF;
	font-size: 15px;
}

#home-nav{
	width: 700px;
	margin-top: 30px;	
}


.inputs li{
	list-style:none;
	margin-bottom:10px;
}

#user_login_box{
	float:right;
	margin-top: -35px;
}

/*Lecciones*/




#lecciones-list ul li {
	list-style: none;
}

#lecciones-list h3 {
	margin-bottom:0px;
}

.leccion-admin{
	float:right;
	margin-top:-15px;
}

.leccion-box{
	width:500px;
 
	padding:5px;
	margin-bottom:20px;
	border-top: 1px dotted #9b9b9b;
}

.leccion-box-show{
	
	width:800px;
 	min-height: 200px;
	padding:5px 5px 25px 5px;
	margin-bottom:20px;
	border-bottom: 1px dotted #9b9b9b;
	 
}

#leccion-show-details{
	margin-top: 5px;
	font-size: 10px;	
}

.leccion-text{
	float: left;
	width: 500px;
 	padding-bottom: 40px;
 
}

.leccion-level-box{
	padding: 5px;
	width: 220px;	
	height: 120px;
	float: right;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
		border: 1px dotted #9b9b9b;
margin-top:60px;
}


#lecciones-list{
	margin-top:30px;
 	float: right;
 	margin-right: 100px;
 	}

#lecciones-search-main{
	width:550px;
	height: 70px;
	background-color: #c1e8fe;
	padding-top: 30px;
	padding-left: 60px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#lecciones-search-main input{
	font-size: 28px;
}



#lecciones-search-main button{
	font-size: 28px;
}

#lecciones-filters{
	float: left;
	width: 200px;
	min-height: 300px;
	border: 1px dotted #989898;
	margin-top: 28px;
}

#lecciones-filters ul li{
	list-style: none;	
	margin-top: 5px;
}

#lecciones-filters ul{
	margin-left: -20px;
}

.leccion-fecha{
font-size: 10px;	
margin-top: 5px;
	color: teal;
		margin-top: 5px;
}

.leccion-Verde{
	float: right;
	width: 50px;
	height: 50px;
	background-color: #127000;
 	color:#FFF;
 	padding: 5px;
 	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-size: 10px;
	margin-top: 15px;
}

.leccion-Amarillo{
	float: right;
	width: 50px;
	height: 50px;
	background-color: #dce120;
 	color:#FFF;
 	padding: 5px;
 	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-size: 10px;
		margin-top: 15px;

}


.leccion-Rojo{
	float: right;
	width: 50px;
	height: 50px;
	background-color: #b21e1f;
 	color:#FFF;
 	padding: 5px;
 	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	font-size: 10px;
		margin-top: 15px;
}

#leccion-search{
	margin: 15px 0px 15px 0px;
}

#leccion-data{
	width:300px;
	margin-top:20px;
}