.helpBox{
	padding:10px;
	border:solid 1px #CCCCCC;
	background-color:#FFF;
	border: 2px solid #99e4fc;
	font-size: 10px;
	position: absolute;
 	
}

.helpIcon{
	display: inline;
}

#help_colores{
	display: none;
	width: 200px;
	min-height: 130px;
	background-color: #FFF;
}

 
#help_ambitoLeccion{
		display: none;

	
}

#help_resultadosLeccion{
	display: none;
}


#help_ifiLeccion{
	
		display: none;
		

}
 #help_paisLeccion{
		display: none;

}