<h1>Intermediarias Financieras (IFI)</h1>
<% for ifi in @ifis %>
<div class="ifi-box">
  <h2><%=link_to ifi.name, ifi_path(ifi)%></h2>
  <strong>Sectores Productivos:</strong> <%=h ifi.productive_sectors.collect{|c| [c.name + ", "]} %> <br/>
  <%if ifi.lcountry%>
    <strong>País:</strong>  <%=h ifi.lcountry.name %>  
  <%end%>
</div>
<%end%>