<p>Hola <%= @resource.email %>!</p>

<p>En respuesta a su solicitud, le enviamos el enlace para cambio de contraseña:</p>

<p><%= link_to 'Cambio de contraseña...', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si usted no solicitó este enlace por favor ignore este correo.</p>
<p>Si contraseña no será modificada hasta que usted visite el enlace y proporcione una nueva.</p>
