<p>Hola <%= @resource.email %>!</p>

<p>Su cuenta ha sido bloqueada debido a una cantidad excesiva de intentos erróneos de ingreso.</p>

<p>Siga el siguiente enlace para desbloqueo de su cuenta: <%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
