<% title "Productive Sector" %>

<p>
   <%=h @productive_sector.name %>
</p>

<p>
  <%= link_to "Edit", edit_productive_sector_path(@productive_sector) %> |
  <%= link_to "Destroy", @productive_sector, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Ver Todos", productive_sectors_path %>
</p>
