<div class="close" style="float:right">
	<a href="#" onclick="Effect.DropOut('<%=@help_code%>');Effect.Appear('<%=@help_code%>-link');return false;">Cerrar</a>
</div>
<p>
  <strong><%=h @help.title %></strong>
</p>
<p>
  <%=h @help.description %>
</p>