<div class="edit-lesson-content"> 
<h1>
	<%if @lesson.aprobada %>
		Editar Lección
	<%else%>
		Revisar / Aprobar Lección
	<%end%>  
</h1>   

<%= render :partial => 'form' %>  
</div>

<p>
  <%= link_to "Ver lección", @lesson %> |
  <%= link_to "Volver a listado", lessons_path %>
</p>
