<div id="leccion-search">
<form action="/lessons/">
  Busqueda: <input type="text" name="q"> 
  <input type="submit" value="Buscar Lecciones">
</form>
</div>

<div class="button"><%= link_to "Agregar Lección", new_lesson_path %></div>


<div id="lecciones-list">

 

  <%= render :partial => @lessons %>
  
 
  
</div>