
<form action="/lessons/">
  Busqueda: <input type="text" name="q"> 
  <input type="submit" value="Buscar Lecciones">
</form>

<div id="lecciones-list">

 

  <%= render :partial => @lessons %>
  
 
  
</div>