<% title "Producto" %>

<p>
  <strong>Name:</strong>
  <%=h @producto.name %>
</p>

<p>
  <%= link_to "Edit", edit_producto_path(@producto) %> |
  <%= link_to "Destroy", @producto, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", productos_path %>
</p>
